/* general styles */

.logout {
    background: #6b0505;
}

.colorgraph {
    height: 5px;
    border-top: 0;
    background: #c4e17f;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.cuerpo {
    width: 95% !important;
    min-height: 450px;
    margin: auto;
    padding: auto;
}

.home {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 140px;
    margin-left: 0;
    margin-right: 0;
}

.profile-ava img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 2px solid #688a7e;
    display: inline-block;
    width: 33px;
    max-width: 33px;
}

img.izquierda {
    float: left;
    margin-left: 10px;
}

img.derecha {
    float: right;
    margin-right: 10px;
}

img.ciento20 {
    max-height: 120px;
}

html {
    /*background-image: url(http://innovaciondespachos.com/wp-content/uploads/2015/11/ConnectingEurope.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;*/
    height: 100%;
    /*margin: 0px auto 0px auto;*/
}

body {
    background-color: rgb(255, 255, 255);
    background-attachment: scroll;
    margin: 10px auto 0px auto;
    border-radius: 30px;
}

footer {
    height: 150px;
}

footer p {
    color: #000000 !important;
}

footer img {
    max-height: 60px;
    margin: 10px auto;
    display: none;
}

/* padded section */

.pad-section {
    padding: 50px 0;
}

.pad-section img {
    width: 100%;
}

/* additional sections */

footer {
    padding: 20px 0;
}

footer .glyphicon {
    color: #333333;
    font-size: 60px;
}

footer .glyphicon:hover {
    color: #EE2E24;
}

.footer {
    background: #9e820e;
}

.goToTop {
    position: fixed;
    top: 0;
    height: 54px;
    z-index: 100;
    margin: 0 0 0 0;
}

nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #6b0505 !important;
    margin: 10px auto;
}

 .navbar-default .navbar-nav>.active>a {
    background: #c5c0b0 !important;
    color: black !important;
}
li:hover a{
    background: #9e820e !important;
    color: black !important;
}

li:hover {
    background: #9e820e !important;
}

nav ul a:focus {
    background: #9e820e;
    color: black !important;
}

nav ul:focus {
    background: #9e820e;
}

nav li a {
    height: 52px;
    margin: auto;
    color: #ece8e8 !important;
}

#login-nav input {
    margin-bottom: 15px;
}

#docente {
    width: 300px;
    border: solid 1px #CDCDCD;
    padding: 10px;
    font-size: 14px;
}

#resultDoc {
    position: absolute;
    width: 320px;
    display: none;
    margin-top: -1px;
    border-top: 0px;
    overflow: hidden;
    border: 1px #CDCDCD solid;
    background-color: white;
}

.show {
    font-family: tahoma;
    padding: 10px;
    border-bottom: 1px #CDCDCD dashed;
    font-size: 15px;
}

.show:hover {
    background: #364956;
    color: #FFF;
    cursor: pointer;
}

#Parciales {
    padding-top: 60px;
}

.danger {
    background-color: #e92a2a !important;
}

.warning1 {
    background-color: #e3a322;
}

.warning2 {
    background-color: #ded033;
}

.success {
    background-color: #6be03b !important;
}

.info {
    background-color: #8ad2f6 !important;
}

#alert_msg {
    position: fixed;
    right: 10%;
    bottom: -10px;
    width: 30%;
    z-index: 1060;
    background: #1C3458;
    color: white;
    display: none;
}

.navbar-collapse {
    background: #6b0505 !important;
}

/*********************************************/
/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

#mitabla{
    width: 100%;
    display: block;
    overflow-x: auto;
}

@media (max-width: 767.98px){
    img.ciento20{
        max-height: 50px;
    }
    .home{
        padding-top: 0px;
        padding-bottom: 0px;
        height: auto;
    }
}